<div class="container" bis_skin_checked="1">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3" bis_skin_checked="1">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap">
          <img src="logo2.svg" alt="Logo" width="200px"class="me-2">
        </a>
        <p class="font">© 2025 JCQM</p>
      </div>
  
      <div class="col mb-3" bis_skin_checked="1">
  
      </div>
  
      <div class="col mb-3" bis_skin_checked="1">
        <h5 class="fw-bold">Sobre mí</h5>
        <ul class="nav flex-column ">
          <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 font">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">About</a></li>
        </ul>
      </div>
  
      <div class="col mb-3" bis_skin_checked="1">
        <h5 class="fw-bold">Estudio</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">About</a></li>
        </ul>
      </div>
  
      <div class="col mb-3" bis_skin_checked="1">
        <h5 class="fw-bold">Experiencia Laboral</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 font">About</a></li>
        </ul>
      </div>
    </footer>
  </div>