.footer{
    background-color: #761a20;
    color: #e6d5c7;
    font-family: 'Courier New', Courier, monospace;
}

.a{
    color: #e6d5c7;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
.a:hover{
    color: #bba18c;
    text-decoration: underline;
}

.font{
    color: #e6d5c7;
    font-family: 'Courier New', Courier, monospace;
}

.font:hover{
    color: #bba18c;
    text-decoration: underline;
}