<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="logo2.svg" alt="Logo" width="200px" class="d-inline-block align-text-center">.DEV    
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
          <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white" bis_skin_checked="1"></div>
          <hr class="d-lg-none my-2 text-white-50">
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/jean.quintana21/" target="_blank">
            <i class="fa-brands fa-instagram icon py-2" ></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/JeanQuintana-Dev" target="_blank">
            <i class="fa-brands fa-github icon py-2" ></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/jean-carlos-quintana/" target="_blank">
            <i class="fa-brands fa-linkedin icon py-2" ></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://wa.me/573054440706" target="_blank">
            <i class="fa-brands fa-whatsapp icon py-2" ></i>
          </a>
        </li>
        <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
          <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white" bis_skin_checked="1"></div>
          <hr class="d-lg-none my-2 text-white-50">
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button type="button" class="btn me-2 dropdown-toggle moon" id="darkModeToggle" aria-expanded="false" data-bs-toggle="dropdown">
              <i class="fa-solid fa-moon py-2"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="darkModeToggle">
              <li><a class="dropdown-item" href="#" onclick="toggleDarkMode()">Modo Oscuro</a></li>
              <li><a class="dropdown-item" href="#" onclick="toggleLightMode()">Modo Claro</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
