.main{
    background-color: #e6d5c7;
    font-family: 'Courier New', Courier, monospace;
}

.footer{
    background-color: #761a20;
    color: #e6d5c7;
    font-family: 'Courier New', Courier, monospace;
}
   