@for (frame of [sequence]; track frame) {
<svg viewBox="0 0 64 92" xmlns="http://www.w3.org/2000/svg" focusable="false" shape-rendering="crispEdges">
  <g class="legs" fill="#883235" stroke="#341319" stroke-width="2">
    <g class="leg left-leg"><path d="M18 73h8v12h-2v4H12v-5h6z"/><path d="M14 85h8v2h-8z" fill="#fff1df" stroke="none"/></g>
    <g class="leg right-leg"><path d="M38 73h8v11h6v5H40v-4h-2z"/><path d="M42 85h8v2h-8z" fill="#fff1df" stroke="none"/></g>
  </g>
  <g class="torso">
    <path d="M18 52h28v4h4v18h-4v4H18v-4h-4V56h4z" fill="#341319"/>
    <path d="M20 56h24v3h3v12h-3v4H20v-4h-3V59h3z" fill="#fff1df"/>
    <path d="M24 60h16v11H24z" fill="#883235"/>
    <path d="M27 63h10v2H27zm0 4h6v2h-6z" fill="#fff1df"/>
    <path class="power-light" d="M41 66h3v3h-3z" fill="#efb9bf"/>
  </g>
  <g class="head">
    <path d="M30 4h4v9h-4z" fill="#341319"/><path d="M29 1h6v6h-6z" fill="#883235"/><path class="antenna-light" d="M30 2h3v2h-3z" fill="#efb9bf"/>
    <path d="M10 11h44v4h4v4h3v29h-3v5h-4v4H10v-4H6v-5H3V19h3v-4h4z" fill="#341319"/>
    <path d="M11 15h42v4h4v28h-4v6H11v-6H7V19h4z" fill="#883235"/>
    <path d="M13 17h38v3h4v25h-4v5H13v-5H9V20h4z" fill="#fff1df"/>
    <path d="M15 22h34v3h3v18h-3v4H15v-4h-3V25h3z" fill="#341319"/>
    <path d="M15 22h34v2H15z" fill="#681920"/>
    <g class="eyes">
      <g class="pixel-eye"><path d="M19 28h9v9h-9z" fill="#fff1df"/><path class="pupil" d="M22 30h3v5h-3z" fill="#341319"/><path class="lid" d="M19 28h9v9h-9z" fill="#341319"/></g>
      <g class="pixel-eye"><path d="M36 28h9v9h-9z" fill="#fff1df"/><path class="pupil" d="M39 30h3v5h-3z" fill="#341319"/><path class="lid" d="M36 28h9v9h-9z" fill="#341319"/></g>
    </g>
    <g class="happy-eyes" fill="#fff1df"><path d="M19 32h2v-3h5v3h2v2h-4v-3h-1v3h-4z"/><path d="M36 32h2v-3h5v3h2v2h-4v-3h-1v3h-4z"/></g>
    <g class="sleepy-eyes" fill="#fff1df"><path d="M19 33h9v2h-9zM36 33h9v2h-9z"/></g>
    <path class="mouth calm-mouth" d="M27 41h10v2H27z" fill="#fff1df"/>
    <path class="mouth smile-mouth" d="M24 39h3v3h10v-3h3v5h-3v2H27v-2h-3z" fill="#fff1df"/>
    <path class="mouth yawn-mouth" d="M29 37h6v2h2v4h-2v2h-6v-2h-2v-4h2z" fill="#fff1df"/>
    <path class="mouth think-mouth" d="M29 41h6v2h-6z" fill="#efb9bf"/>
    <g class="cheeks" fill="#efb9bf"><path d="M16 38h4v2h-4zM44 38h4v2h-4z"/></g>
    <path d="M15 51h10v2H15zm31 0h3v2h-3z" fill="#efb9bf"/>
  </g>
  <g class="arm left-arm"><path d="M11 55h6v15h-3v3H7v-8h4z" fill="#341319"/><path d="M12 58h3v9h-3zm-3 10h4v3H9z" fill="#efb9bf"/></g>
  <g class="arm right-arm"><path d="M47 55h6v10h4v8h-7v-3h-3z" fill="#341319"/><path d="M49 58h3v9h-3zm2 10h4v3h-4z" fill="#efb9bf"/></g>
  <g class="wave-arm">
    <path d="M47 55h19v8H47z" fill="#341319"/><path d="M50 57h13v3H50z" fill="#883235"/>
    <g class="wave-forearm"><path d="M61 54h7V35h-2v-8h-9v8h4z" fill="#341319"/><path d="M63 51h3V35h-3zM59 29h5v5h-5z" fill="#efb9bf"/></g>
  </g>
</svg>
}
