<div class="px-4 py-5 my-5 text-center " bis_skin_checked="1">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner overflow-visible">
      <div class="carousel-item active">
      <img src="Perfil.svg" class="perfil rounded-circle animate__flip animate__animated" alt="perfil">
      </div>
      <div class="carousel-item">
          <img src="Perfil2.svg" class="perfil rounded-circle animate__flip animate__animated" alt="perfil">
        </div>
        <div class="carousel-item">
          <img src="Perfil3.svg" class="perfil rounded-circle animate__flip animate__animated" alt="perfil">
        </div>
        <div class="carousel-item">
          <img src="Perfil4.svg" class="perfil rounded-circle animate__flip animate__animated" alt="perfil">
        </div>
        <div class="carousel-item">
          <img src="Perfil5.svg" class="perfil rounded-circle animate__flip animate__animated" alt="perfil">
        </div>
        <div class="carousel-item">
          <img src="Perfil6.svg" class="perfil rounded-circle animate__flip animate__animated" alt="perfil">
        </div>
      </div>
    </div>
    
    <h1 class="display-5 fw-bold text-body-emphasis position-relative bounce" bis_skin_checked="1">
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0s;">H</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0.1s;">O</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0.2s;">L</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0.3s;">A</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0.4s;">&nbsp;</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0.5s;">S</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0.6s;">O</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0.7s;">Y</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0.8s;">&nbsp;</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 0.9s;">J</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 1s;">E</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 1.1s;">A</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 1.2s;">N</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 1.3s;">!</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 1.4s;">!</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 1.5s;">!</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 1.6s;">&nbsp;</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 1.7s;">😎</span>
      <span class="animate__bounce animate__animated bounce" style="animation-delay: 1.8s;">✌️</span>
    </h1>
    
    <div class="col-lg-6 mx-auto" bis_skin_checked="1">
      <p class="lead mb-4">Soy un desarrollador web 🖥️ y analista de datos 📊</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" bis_skin_checked="1">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Solo soy un botón jaja</button>
        <button type="button" class="btn btn-second btn-lg px-4">Otro botón</button>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="icon-grid" bis_skin_checked="1">
    <h2 class="pb-2 border-bottom-primary fw-bold">Mis Skills</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5" bis_skin_checked="1">
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <i class="fa-brands fa-js"style="font-size: 2rem; padding-right: 1rem"></i>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">JavaScript</h3>
          <p>Lenguaje clave en el desarrollo web, lo utilizo para crear interfaces interactivas y dinámicas, tanto en el frontend como en proyectos con Node.js para el backend.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <i class="fa-solid fa-code" style="font-size: 2rem; padding-right: 1rem;"></i>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">C++</h3>
          <p>Tengo experiencia en programación orientada a objetos, desarrollo de algoritmos y estructuras de datos, aplicando C++ en proyectos de alto rendimiento y simulaciones.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <i class="fa-brands fa-python" style="font-size: 2rem; padding-right: 1rem;"></i>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"> Python</h3>
          <p>Uso Python para automatización de tareas, análisis de datos y prototipado rápido de soluciones, aprovechando librerías como Pandas, NumPy y Flask.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <i class="fa-brands fa-angular" style="font-size: 2rem; padding-right: 1rem;"></i>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">React y Angular</h3>
          <p>Desarrollo aplicaciones web modernas utilizando estas bibliotecas y frameworks. React me permite crear interfaces altamente reactivas, mientras que Angular lo uso para proyectos más estructurados y escalables.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <i class="fa-brands fa-microsoft" style="font-size: 2rem; padding-right: 1rem;"></i>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Power BI, Power Automate y Power Apps</h3>
          <p>Diseño soluciones empresariales integradas. Con Power BI genero dashboards interactivos; con Power Automate optimizo flujos de trabajo; y con Power Apps desarrollo aplicaciones low-code personalizadas.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <i class="fa-solid fa-database" style="font-size: 2rem; padding-right: 1rem;"></i>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">MySQL</h3>
          <p>Gestión de bases de datos relacionales, modelado de datos y consultas complejas, garantizando integridad y eficiencia en el manejo de la información.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <i class="fa-solid fa-server" style="font-size: 2rem; padding-right: 1rem;"></i>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"> MongoDB</h3>
          <p>Trabajo con bases de datos NoSQL para aplicaciones que requieren flexibilidad en el esquema, ideal para manejar grandes volúmenes de datos no estructurados.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <i class="fa-brands fa-github" style="font-size: 2rem; padding-right: 1rem;"></i>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Git</h3>
          <p>Uso Git para control de versiones, trabajo colaborativo y despliegue de proyectos, garantizando un flujo de desarrollo organizado y seguro.</p>
        </div>
      </div>
    </div>
    <h2 class="pb-2 border-bottom-primary fw-bold">Mis estudios</h2>
    <div class="row featurette d-flex pt-5 pb-5  align-items-center" bis_skin_checked="1">
      <div class="col-md-7" bis_skin_checked="1">
        <h1 class="featurette-heading fw-normal lh-1 align-middle fw-bold">Universidad de Cartagena<h2><span class="text-body-secondary"> "Siempre a la altura de los tiempos"</span></h2></h1>
        <p class="lead">He destacado en desarrollo de software y documentación, trabajando en equipo para aprovechar las habilidades de todos los miembros del grupo de trabajo.</p>
      </div>
      <div class="col-md-5" bis_skin_checked="1">
        <img src="UdeC.jpg" class="universidad" alt="universidad">
      </div>
    </div>
  </div>
