.whats-app {
    position: fixed;
    width: 70px;
    height: 70px;
    right: 30px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 3px 4px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 10px;
}
